{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"printWidth": 100,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"singleAttributePerLine": true,
	"jsxSingleQuote": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"bracketSameLine": false,
	"quoteProps": "as-needed",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css"
} 
  